@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.fading {
    animation: fadeInOut 8s infinite;
    animation-timing-function: ease;
}

@keyframes fadeInOut {

    0%,
    100% {
        opacity: 0;
    }

    20%,
    80% {
        opacity: 1;
    }
}


/* button animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeInAnimation {
    animation: fadeIn 1200ms ease-in-out;
}

.myTextShadoe {
    text-shadow: 0px 15px 20px #052443;
}

.myBoxShadow {
    box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.708);
}

/* .myCustomDiv{
    border-radius: 30% 70% 48% 52% / 0% 0% 100% 100%;
} */

.half-circle {
    width: 600px;
    height: 100px;
    /* Half the width to create a half-circle */
    border-radius: 0 0 100px 100px;
    /* Creates a half-circle */
}

.white-img {
    filter: brightness(100);
}

.border-up::after {
    content: '';
    position: absolute;
    bottom: 0;
    /* Position from the bottom */
    transform: translateY(50px);
    /* Move up by 50% of its height */
    left: 0;
    width: 100%;
    border-bottom: 2px solid white;
    /* Border settings */
}


/* Create the animation... */
@keyframes slide-in-right {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}

/* ...and then apply it: */
.RightlideAnimatoin {
    animation: slide-in-right 1100ms;
}

@keyframes slide-in-left {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

/* ...and then apply it: */
.LeftlideAnimatoin {
    animation: slide-in-left 1100ms;
}

/*  */

/* ...and then apply it: */
.RightlideAnimatoin {
    animation: slide-in-right 1100ms;
}

@keyframes slide-from-bottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

/* ...and then apply it: */
.slideFromBottom {
    animation: slide-from-bottom 1100ms;
}